apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-worker-ocr
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-worker-export
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-worker-io
spec:
  replicas: 2

