apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources-openclaw
  namespace: observability
  labels:
    grafana_datasource: "1"
    release: kube-prometheus-stack
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        url: http://kube-prometheus-stack-prometheus.observability.svc.cluster.local:9090
        access: proxy
        isDefault: true
      - name: Loki
        type: loki
        uid: loki
        url: http://loki.observability.svc.cluster.local:3100
        access: proxy
        isDefault: false

